openapi: 3.1.0
info:
  title: API Reference subpackage_account subpackage_recordings API
  version: 1.0.0
servers:
- url: https://f.cluster.resemble.ai
- url: https://app.resemble.ai/api/v2
tags:
- name: subpackage_recordings
paths:
  /voices/{voice_uuid}/recordings:
    get:
      operationId: list-recordings
      summary: List recordings
      description: List all recordings for a voice
      tags:
      - subpackage_recordings
      parameters:
      - name: voice_uuid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of recordings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings_listRecordings_Response_200'
    post:
      operationId: create-recording
      summary: Create recording
      description: Upload a new recording for voice training
      tags:
      - subpackage_recordings
      parameters:
      - name: voice_uuid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recording created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings_createRecording_Response_200'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file (WAV recommended, 1-12 seconds)
                name:
                  type: string
                  description: Display name
                text:
                  type: string
                  description: Transcript of the clip
                emotion:
                  type: string
                  description: Emotion label
                is_active:
                  type: boolean
                  description: Include in training
                fill:
                  type: boolean
                  description: Include for Resemble Fill
              required:
              - file
              - name
              - text
              - emotion
              - is_active
  /voices/{voice_uuid}/recordings/{recording_id}:
    get:
      operationId: get-recording
      summary: Get recording
      description: Get recording details
      tags:
      - subpackage_recordings
      parameters:
      - name: voice_uuid
        in: path
        required: true
        schema:
          type: string
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recording details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings_getRecording_Response_200'
    delete:
      operationId: delete-recording
      summary: Delete recording
      description: Delete a recording
      tags:
      - subpackage_recordings
      parameters:
      - name: voice_uuid
        in: path
        required: true
        schema:
          type: string
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recording deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings_deleteRecording_Response_200'
    patch:
      operationId: update-recording
      summary: Update recording
      description: Update a recording
      tags:
      - subpackage_recordings
      parameters:
      - name: voice_uuid
        in: path
        required: true
        schema:
          type: string
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recording updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings_updateRecording_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                text:
                  type: string
                emotion:
                  type: string
                is_active:
                  type: boolean
components:
  schemas:
    Recordings_createRecording_Response_200:
      type: object
      properties:
        success:
          type: boolean
        item:
          $ref: '#/components/schemas/VoicesVoiceUuidRecordingsPostResponsesContentApplicationJsonSchemaItem'
      title: Recordings_createRecording_Response_200
    Recordings_getRecording_Response_200:
      type: object
      properties:
        success:
          type: boolean
        item:
          $ref: '#/components/schemas/VoicesVoiceUuidRecordingsRecordingIdGetResponsesContentApplicationJsonSchemaItem'
      title: Recordings_getRecording_Response_200
    VoicesVoiceUuidRecordingsRecordingIdPatchResponsesContentApplicationJsonSchemaItem:
      type: object
      properties: {}
      title: VoicesVoiceUuidRecordingsRecordingIdPatchResponsesContentApplicationJsonSchemaItem
    VoicesVoiceUuidRecordingsRecordingIdGetResponsesContentApplicationJsonSchemaItem:
      type: object
      properties: {}
      title: VoicesVoiceUuidRecordingsRecordingIdGetResponsesContentApplicationJsonSchemaItem
    Recordings_updateRecording_Response_200:
      type: object
      properties:
        success:
          type: boolean
        item:
          $ref: '#/components/schemas/VoicesVoiceUuidRecordingsRecordingIdPatchResponsesContentApplicationJsonSchemaItem'
      title: Recordings_updateRecording_Response_200
    Recordings_deleteRecording_Response_200:
      type: object
      properties:
        success:
          type: boolean
      title: Recordings_deleteRecording_Response_200
    VoicesVoiceUuidRecordingsGetResponsesContentApplicationJsonSchemaItemsItems:
      type: object
      properties: {}
      title: VoicesVoiceUuidRecordingsGetResponsesContentApplicationJsonSchemaItemsItems
    VoicesVoiceUuidRecordingsPostResponsesContentApplicationJsonSchemaItem:
      type: object
      properties: {}
      title: VoicesVoiceUuidRecordingsPostResponsesContentApplicationJsonSchemaItem
    Recordings_listRecordings_Response_200:
      type: object
      properties:
        success:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/VoicesVoiceUuidRecordingsGetResponsesContentApplicationJsonSchemaItemsItems'
      title: Recordings_listRecordings_Response_200
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token from https://app.resemble.ai/account/api
