openapi: 3.1.0
info:
  title: API Reference subpackage_account subpackage_agentPhoneNumbers API
  version: 1.0.0
servers:
- url: https://f.cluster.resemble.ai
- url: https://app.resemble.ai/api/v2
tags:
- name: subpackage_agentPhoneNumbers
paths:
  /phone_numbers:
    get:
      operationId: list-phone-numbers
      summary: List agent phone numbers
      description: List all agent phone numbers
      tags:
      - subpackage_agentPhoneNumbers
      parameters:
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of phone numbers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent Phone Numbers_listPhoneNumbers_Response_200'
    post:
      operationId: create-phone-number
      summary: Create agent phone number
      description: Create a new agent phone number
      tags:
      - subpackage_agentPhoneNumbers
      parameters:
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Phone number created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent Phone Numbers_createPhoneNumber_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: E.164 formatted phone number
                label:
                  type: string
                supports_inbound:
                  type: boolean
                  default: false
                supports_outbound:
                  type: boolean
                  default: false
                provider:
                  $ref: '#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaProvider'
                twilio_account_sid:
                  type: string
                twilio_auth_token:
                  type: string
                outbound_trunk:
                  $ref: '#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaOutboundTrunk'
                inbound_trunk:
                  $ref: '#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaInboundTrunk'
              required:
              - phone_number
              - label
  /phone_numbers/{id}:
    get:
      operationId: get-phone-number
      summary: Get agent phone number
      description: Get agent phone number details
      tags:
      - subpackage_agentPhoneNumbers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Phone number details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent Phone Numbers_getPhoneNumber_Response_200'
    delete:
      operationId: delete-phone-number
      summary: Delete agent phone number
      description: Delete an agent phone number
      tags:
      - subpackage_agentPhoneNumbers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Phone number deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent Phone Numbers_deletePhoneNumber_Response_200'
  /phone_numbers/{id}/force:
    delete:
      operationId: force-delete-phone-number
      summary: Force delete agent phone number
      description: Force delete an agent phone number even if linked to agent
      tags:
      - subpackage_agentPhoneNumbers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: API token from https://app.resemble.ai/account/api
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Phone number force deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent Phone Numbers_forceDeletePhoneNumber_Response_200'
components:
  schemas:
    Agent Phone Numbers_listPhoneNumbers_Response_200:
      type: object
      properties:
        success:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumbersGetResponsesContentApplicationJsonSchemaItemsItems'
      title: Agent Phone Numbers_listPhoneNumbers_Response_200
    PhoneNumbersGetResponsesContentApplicationJsonSchemaItemsItems:
      type: object
      properties: {}
      title: PhoneNumbersGetResponsesContentApplicationJsonSchemaItemsItems
    Agent Phone Numbers_getPhoneNumber_Response_200:
      type: object
      properties:
        success:
          type: boolean
        item:
          $ref: '#/components/schemas/PhoneNumbersIdGetResponsesContentApplicationJsonSchemaItem'
      title: Agent Phone Numbers_getPhoneNumber_Response_200
    PhoneNumbersPostRequestBodyContentApplicationJsonSchemaInboundTrunk:
      type: object
      properties: {}
      title: PhoneNumbersPostRequestBodyContentApplicationJsonSchemaInboundTrunk
    Agent Phone Numbers_createPhoneNumber_Response_200:
      type: object
      properties:
        success:
          type: boolean
        item:
          $ref: '#/components/schemas/PhoneNumbersPostResponsesContentApplicationJsonSchemaItem'
        message:
          type: string
      title: Agent Phone Numbers_createPhoneNumber_Response_200
    PhoneNumbersIdGetResponsesContentApplicationJsonSchemaItem:
      type: object
      properties: {}
      title: PhoneNumbersIdGetResponsesContentApplicationJsonSchemaItem
    PhoneNumbersPostRequestBodyContentApplicationJsonSchemaOutboundTrunk:
      type: object
      properties: {}
      title: PhoneNumbersPostRequestBodyContentApplicationJsonSchemaOutboundTrunk
    PhoneNumbersPostResponsesContentApplicationJsonSchemaItem:
      type: object
      properties: {}
      title: PhoneNumbersPostResponsesContentApplicationJsonSchemaItem
    Agent Phone Numbers_deletePhoneNumber_Response_200:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      title: Agent Phone Numbers_deletePhoneNumber_Response_200
    PhoneNumbersPostRequestBodyContentApplicationJsonSchemaProvider:
      type: string
      enum:
      - twilio
      title: PhoneNumbersPostRequestBodyContentApplicationJsonSchemaProvider
    Agent Phone Numbers_forceDeletePhoneNumber_Response_200:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      title: Agent Phone Numbers_forceDeletePhoneNumber_Response_200
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token from https://app.resemble.ai/account/api
